<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile Card</title>
    <link href="https://unpkg.com/tailwindcss@1.1.4/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body class="flex items-center justify-center h-full bg-gray-300">
    <div class="w-10/12 bg-white shadow-lg rounded overflow-hidden">
      <div class="mx-4 mt-4 mb-2">
          <textarea class="w-full border border-gray-500 rounded p-2" placeholder="告诉你个小秘密，发动弹时添加话题会被更多小伙伴看见呦~" rows="4"></textarea>
      </div>
      <div class="flex mx-4 mb-4 text-blue-500 relative">
        <div class="flex mt-1">
          <div>表情</div>
          <div class="ml-4">图片</div>
        </div>
        <button class="bg-blue-500 text-white py-1 px-4 rounded absolute right-0">发布</button>
      </div>
    </div>
  </body>
</html>